body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 2px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #19dfc1;
    color: black;
    border-bottom: 10px solid #0d3b66;
    border-radius: 4px;
}

.card:hover{
    background-color: #fed273;
}

.p {
    color: #922fee;
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #242423;
}